.App{
  // position: relative;

  // height: 1200px;

  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  .appChild {
    padding : 20px 15px;
    width : 500px;
    // height : 350px;
    // border : 1px dashed;
    // position: absolute;
    margin : 0 auto;
    // color: black;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    img{
      width: 400px;
    }
  }
  input{
    // width: 300px;
  }
  
}

  

@media (max-width: 451px) {

}

@media only screen and (min-width: 451px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1008px) {}

@media only screen and (min-width: 1300px) {}