body,html {
	// overflow: hidden;
	// height: 2000px;
	max-width: 1366px;
	// max-width: 1100px;
	margin: 0 auto;
	position: relative;
	/*font-size: 80%;*/
	/*box-shadow: 1px 2px 1px rgba(0,0,0,0.2);*/
	-webkit-font-smoothing: antialiased;
	/*font-family: 'Playfair Display', serif;*/
	/*font-weight: bolder;*/
	font-family: Montserrat, "helvetica", "courier new", courier;
	// padding: 40px;
	overflow: hidden;
}

/* genral fixes */

.btn {
	font-family: "helvetica";
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 1px;
}

img {
	max-height: 160px;
	height: 158px;
}

p {
	font-size: 18px;
	color: #a6a6a6;
	color: #979797;
	color: #757575;
	font-weight: 900;
}

h1, h2 {
	/*font-family: 'Roboto';*/
	/*font-family: 'Oswald';*/
	/*font-family: 'Playfair Display';*/
	font-weight: 900;
	/*letter-spacing: 2px;*/
}

p, h5 {
	/*font-family:'Neuton';*/
	/*font-family: 'q_seif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;*/
	/*font-family: 'Roboto';*/
	/*font-family: 'Oswald';*/
	font-weight: 300;
	/*font-size: 20px;*/
	/*letter-spacing: 1px;*/
}

h5, h6 {
	/*font-family: 'Roboto';*/
	font-weight: 400;
}

*::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
	/*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
	border-radius: 0px;
	background-color: #fff;
	position: absolute;
}

*::-webkit-scrollbar {
	width: 2px;
	border-radius: 200px;
	background-color: #fff;
	position: absolute;
}

*::-webkit-scrollbar-thumb {
	border-radius: 2px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
	/*box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
	background-color: #007bff;
	position: absolute;
}

@media (max-width: 451px) {
	body{
		// padding: 20px;
	}
	h2{
		font-size: 24px;
	}
}

@media only screen and (min-width: 451px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1008px) {}

@media only screen and (min-width: 1300px) {}